*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (min-width: 85em) {
    html {
      font-size: 75%; } }
  @media only screen and (min-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (min-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box; }

.header {
  width: 100%;
  position: relative; }
  .header__navigation {
    display: none; }
  .header__nav {
    display: none; }
  .header__wrapper {
    width: 100%; }
  .header__menu-content {
    width: 0;
    opacity: 0;
    transition: opacity 0.8s ease; }
  .header__wrapper-img {
    width: 30%;
    position: relative;
    top: 2rem;
    left: 4rem; }
  .header__button {
    width: 5rem;
    height: 5rem;
    position: absolute;
    right: 2rem;
    top: 2.7rem;
    z-index: 1000;
    cursor: pointer;
    text-align: center; }
  .header__wrapper-nav {
    width: 0;
    height: 0;
    position: relative;
    margin-top: 9.6rem;
    margin-bottom: 1.6rem;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.8s ease; }
  .header__wrapper-nav-links {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
  .header__wrapper-nav-links--items {
    display: block;
    width: 100%;
    text-align: center; }
  .header__wrapper-nav-links--items--item {
    display: block;
    font-size: 2.3rem;
    font-family: "Unica One", cursive;
    color: #161717;
    text-decoration: none;
    font-weight: 400;
    text-transform: capitalize;
    cursor: pointer; }
  .header__navigation:checked ~ .header__menu-content {
    width: 100%;
    opacity: 1; }
  .header__navigation:checked ~ .header__wrapper-nav {
    width: 100%;
    height: 25vh;
    opacity: 1; }
  .header__icon {
    position: relative;
    margin-top: 2.5rem; }
    .header__icon, .header__icon::before, .header__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #161717;
      display: inline-block; }
    .header__icon::after {
      content: "";
      width: 2rem;
      position: absolute;
      left: 0;
      top: 1rem;
      transition: all 0.4s ease; }
    .header__icon::before {
      content: "";
      position: absolute;
      top: -1rem;
      left: 0;
      transition: all 0.4s ease; }
  .header__navigation:checked + .header__button .header__icon {
    background-color: transparent; }
  .header__navigation:checked + .header__button .header__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .header__navigation:checked + .header__button .header__icon::after {
    width: 3rem;
    top: 0;
    transform: rotate(-135deg); }

@media only screen and (min-width: 56.25em) {
  .header {
    width: 100%;
    height: 20vh;
    max-width: 160rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 0; } }
  @media only screen and (min-width: 56.25em) and (min-width: 85em) {
    .header {
      width: 100vw;
      max-width: 160rem; } }

@media only screen and (min-width: 56.25em) {
    .header__wrapper {
      display: none; }
    .header__nav {
      display: block;
      flex: 1 1 100%; }
    .header__nav-links {
      display: flex;
      justify-content: space-around;
      list-style: none; }
    .header__nav-links--items {
      display: block;
      width: 100%;
      text-align: center;
      position: relative; }
      .header__nav-links--items:hover img {
        transform: scale(1);
        transform-origin: left; }
      .header__nav-links--items:hover div {
        opacity: 1;
        visibility: visible; }
    .header__nav-links--items--item {
      display: block;
      font-size: 2.9rem;
      font-family: "Unica One", cursive;
      text-decoration: none;
      color: #161717;
      padding: 1rem 1.5rem;
      font-weight: 400;
      position: relative;
      text-transform: capitalize; }
    .header__nav-links--items--item-img {
      display: block;
      position: absolute;
      width: 80%;
      top: 40%;
      left: 15%;
      transform: scale(0);
      transform-origin: left;
      transition: transform 0.3s ease-out; }
    .header__nav-links--items--dropdown {
      display: block;
      position: absolute;
      top: 70%;
      left: 42%;
      width: 100%;
      padding: 0.4rem 0.85rem;
      text-align: left;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease-out, visibility 0.3s ease-out; }
      .header__nav-links--items--dropdown-dropdown-link {
        font-size: 2.25rem;
        display: block;
        text-decoration: none;
        font-family: "Dosis", sans-serif;
        color: #161717;
        font-weight: 400; } }
