$color-Light: #cbc1b6;
$color-Medium: #a4b2c3;
$color-Primary: #161717;
$color-PrimaryLight: rgba(22, 23, 23, 0.8);
$font-Primary: "Dosis", sans-serif;
$font-Titels: "Unica One", cursive;
$font-Haakje: "Reenie Beanie", cursive;
