@include respond(tab-port) {
  .section-footer {
    display: block;
  }

  .footer {
    width: 99vw;
    height: 12vh;
    margin: 0 auto;

    &__horizontal {
      width: 100%;
      height: 2px;
      background-color: $color-Primary;
    }

    &__container {
      width: 100%;
      max-width: 90rem;
      height: 12vh;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-top: 0.5rem;
      padding-bottom: 1rem;
      margin: 1rem auto;

      @include respond(tab-port) {
        max-width: 110rem;
      }

      @include respond(tab-land) {
        max-width: 150rem;
      }

      @include respond(desktop) {
        max-width: 170rem;
      }
    }

    &__body {
      display: flex;
      flex: 1;
      padding-left: 3rem;
      color: $color-Primary;
    }

    &__left h3 {
      font-family: $font-Primary;
      font-weight: 300;
      color: $color-Primary;
      font-size: 1.6rem;
      line-height: 1.3;
    }

    &__social {
      width: 3.5rem;
      display: flex;
      justify-content: space-between;
      position: relative;
      top: 0.5rem;
    }

    &__social a i {
      color: $color-Primary;
      font-size: 1.4rem;
    }

    &__vertical {
      width: 2px;
      height: 8rem;
      background-color: $color-Primary;
      margin-left: 1.2rem;
    }

    &__right {
      margin-left: 1.2rem;
    }

    &__right-title {
      font-family: $font-Titels;
      font-weight: 500;
      color: $color-Primary;
      font-size: 1.6rem;
      line-height: 1.3;
    }

    &__right .h12 {
      font-family: $font-Primary;
      font-weight: 300;
      font-size: 1.6rem;
      color: $color-Primary;
      line-height: 1.3;
    }

    &__design {
      display: flex;
      flex-direction: column;
      flex: 0.4;
      margin-right: 3rem;
    }

    &__logo {
      width: 12rem;
      position: relative;
      align-self: flex-end;

      @include respond(desktop) {
        width: 14rem;
      }
    }

    &__ontwerp h4 {
      font-family: $font-Primary;
      color: $color-Primary;
      font-size: 1.6rem;
      font-weight: 300;
      text-align: right;
      line-height: 1.3;
    }
  }
}
