.hoofd-content {
  width: 100vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.8fr 0.1fr;
}

.about-content {
  width: 100vw;
  max-width: 100vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.4fr 0.1fr;
}

.restaurant-content {
  width: 100vw;
  max-width: 100vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 0.7fr);
}

.menu-content {
  width: 100vw;
  max-width: 100vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr) 0.9fr;
}
