.dining__container {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @include respond(tab-port) {
    flex-direction: row-reverse;
    max-width: 110rem;
  }

  @include respond(tab-land) {
    max-width: 150rem;
    position: relative;
    top: 6rem;
  }

  @include respond(desktop) {
    max-width: 180rem;
  }

  &-img {
    display: block;
    width: 70vw;
    margin: 0 auto;
    padding: 4rem 0;

    @include respond(tab-port) {
      margin: 0;
      padding: 0;
      flex: 0.7;
    }

    @include respond(tab-land) {
      margin-top: 0;
    }
  }

  &-img-foto {
    display: block;
    width: 80%;
    //height: auto;
    margin-left: auto;
    margin-right: auto;

    @include respond(ipad) {
      width: 60%;
    }

    @include respond(tab-port) {
      margin-left: 0;
      margin-right: 0;
      width: 70%;
      position: relative;
      left: 7rem;
      top: -4rem;
    }

    @include respond(tab-land) {
      top: -8rem;
      left: 12rem;
    }

    @include respond(desktop) {
      width: 60%;
      position: relative;
      top: -6rem;
      left: 7rem;
    }
  }

  &-body {
    width: 95vw;
    display: flex;
    margin: 0 auto;
    padding: 1.2rem;

    @include respond(tab-port) {
      flex: 1;
    }

    @include respond(tab-land) {
      position: relative;
      top: 4rem;
      left: 5rem;
    }
  }

  &-address {
    width: 90%;
    position: relative;
    top: 2.6rem;

    @include respond(tab-port) {
      max-width: 70%;
    }

    @include respond(tab-land) {
      top: 2.5rem;
    }
  }

  &-address-title {
    font-size: 2.5rem;
    font-family: $font-Titels;
    font-weight: 500;
    color: $color-Primary;
    position: relative;
    left: -3.5rem;

    @include respond(tab-port) {
      font-size: 2.8rem;
      left: -6rem;
    }

    @include respond(tab-land) {
      font-size: 3rem;
      left: -4rem;
    }
  }

  &-paragraaf {
    font-size: 1.6rem;
    font-family: $font-Primary;
    color: $color-Primary;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 1.4;
    position: relative;
    top: 2rem;
    left: -0.5rem;

    @include respond(tab-land) {
      font-size: 2.1rem;
      top: 1.5rem;
      max-width: 90%;
    }
  }
}
