.mobile__wrapper {
  display: flex;
  width: 80vw;
  height: 30vh;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;

  &-logo {
    width: 60%;
  }

  @include respond(tab-port) {
    display: none;
  }
}

.logo {
  display: none;

  @include respond(tab-port) {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__img {
      transform: scale(0.6);

      @include respond(tab-land) {
        transform: scale(0.9);
      }
    }
  }
}
