.scrollToTopBtn {
  position: fixed;
  bottom: 14rem;
  right: 3rem;
  border: none;
  background: none;
  font-size: 2rem;
  font-weight: 300;
  z-index: 100;
  color: $color-Primary;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid $color-Primary;
  cursor: pointer;
  transform: translateY(100px);
  display: block;
  opacity: 0;
  transition: all 0.5s ease;
  //overflow: hidden;

  @include respond(tab-port) {
    bottom: 24rem;
    right: 8rem;
  }
}

.showBtn {
  transform: translateY(0);
  opacity: 1;
}
