.wine__container {
  max-width: 100%;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @include respond(tab-port) {
    flex-direction: row;
    max-width: 110rem;
  }

  @include respond(tab-land) {
    max-width: 150rem;
    position: relative;
    //top: 6rem;
  }

  @include respond(desktop) {
    max-width: 180rem;
  }

  &-img {
    display: block;
    width: 80vw;
    margin: 0 auto;

    @include respond(tab-port) {
      margin: 0;
      padding: 0;
      flex: 0.7;
    }

    @include respond(tab-land) {
      margin-top: 0;
    }
  }

  &-img-foto {
    display: block;
    width: 80%;
    //height: auto;
    margin-left: auto;
    margin-right: auto;

    @include respond(ipad) {
      width: 60%;
    }

    @include respond(tab-port) {
      margin-left: 0;
      margin-right: 0;
      width: 70%;
      position: relative;
      //left: -8rem;
      //top: -4rem;
    }

    @include respond(tab-land) {
      top: -8rem;
      left: 12rem;
    }

    @include respond(desktop) {
      width: 80%;
      position: relative;
      top: -12rem;
    }
  }

  &-body {
    width: 95%;
    display: flex;
    margin: 0 auto;
    position: relative;

    @include respond(ipad) {
      width: 90%;
    }

    @include respond(tab-port) {
      flex: 1;
    }

    @include respond(tab-land) {
      position: relative;
      top: 4rem;
      left: 3rem;
    }

    @include respond(desktop) {
      padding-left: 7rem;
    }
  }

  &-haakje {
    transform: scale(1);
    position: relative;
    top: 3.5rem;
  }

  &-body-address {
    max-width: 95%;
    position: relative;
    top: 5rem;
  }

  &-body-address-title {
    font-size: 2.5rem;
    font-family: $font-Titels;
    font-weight: 500;
    color: $color-Primary;
    position: relative;
    left: -3.5rem;

    @include respond(tab-port) {
      font-size: 2.8rem;
      left: -4.2rem;
      top: 1rem;
    }
  }

  &-paragraaf {
    max-width: 95%;
    font-size: 1.5rem;
    font-family: $font-Primary;
    color: $color-Primary;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 1.4;
    position: relative;
    top: 0.2rem;
    left: -1rem;

    @include respond(ipad) {
      max-width: 75%;
    }

    @include respond(tab-port) {
      max-width: 75%;
      font-size: 1.6rem;
      line-height: 1.4;
      top: 2rem;
      left: 0;
    }

    @include respond(desktop) {
      font-size: 1.9rem;
    }
  }
}
