*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8 px
  }

  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9 px
  }

  /*@include respond(desktop) {
    font-size: 65%; // 1rem = 12 px
  }*/
}

body {
  box-sizing: border-box;
  overflow-x: hidden;

  @include respond(tab-port) {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a[href^="tel"] {
  text-decoration: inherit;
  color: rgb(16, 17, 17);
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

::selection {
  background-color: $color-PrimaryLight;
  color: #fff;
}
